@model Nomos.Models.Legislacao.LegislacaoIndexViewModel

@{
    ViewData["Title"] = "Legislação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    @*<link rel="Stylesheet" href="@Href("~/css/Legislacao/Index.css")" />*@
}

<div class="form-group">
    <div class="row">
        <div class="col-sm-2">
            <h3>Legislação</h3>
        </div>
        <div class="col-sm-10 text-right">
            <button id="btn-incluir" onclick="incluirClick()" type="button" class="btn btn-success" aria-label="Left Align"><span class="fa fa-file fa-lg" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<hr />

@Html.Partial("~//Views/Legislacao/Filter.cshtml", Model.FilterViewModel)
<div id="resultado">
    @Html.Partial("~//Views/Legislacao/List.cshtml", Model.ListaViewModel)
</div>

<script src="~/js/Legislacao/Index.js"></script>
