@model Nomos.Models.Empresa.EmpresaNewViewModel

@{
    ViewData["Title"] = "Empresa - Inclusão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Empresa/New.css")" />
}

<h3>Empresa</h3>
<hr />
<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            <button id="btn-salvar" onclick="salvarclick()" type="button" class="btn btn-primary" aria-label="Left Align">Salvar <span class="fa fa-save fa-lg" aria-hidden="true"></span></button>
            <button id="btn-cancelar" onclick="cancelarclick()" type="button" class="btn btn-warning" aria-label="Left Align">Cancelar <span class="fa fa-times fa-lg" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group">

            <div class="row">
                <div class="col-sm-3">
                    <label>Cnpj</label>
                    <input id="cnpj" class="form-control" type="text" maxlength="14" onkeypress="return isNumber(event)" />
                </div>

                <div class="col-sm-5">
                    <label>Razao Social</label>
                    <input id="razao-social" class="form-control" type="text" maxlength="500" />
                </div>
                <div class="col-sm-4">
                    <label>Nome Fantasia</label>
                    <input id="nome-fantasia" class="form-control" type="text" maxlength="200" />
                </div>                
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label>E-mail responsável</label>
                    <input id="email-responsavel" class="form-control lower-input" type="text" maxlength="500" />
                </div>
            </div>

        </div>

    </div>
</div>
<hr />
<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            <button id="btn-salvar" onclick="salvarclick()" type="button" class="btn btn-primary" aria-label="Left Align">Salvar <span class="fa fa-save fa-lg" aria-hidden="true"></span></button>
            <button id="btn-cancelar" onclick="cancelarclick()" type="button" class="btn btn-warning" aria-label="Left Align">Cancelar <span class="fa fa-times fa-lg" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<script src="~/js/Empresa/New.js"></script>

<script>
    var urlIncluir = encodeURI('@Url.Action("Incluir", "Empresa")');
</script>
